<%-include ("navbar.ejs")%>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

<link rel="stylesheet" text="text/css" href="/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!--257-->
    
    <div class="main">
         <div class="aboutus">
         <h2 style="color:rgb(216, 23, 23)">About Us</h2>
         </div>
    </div>
    

    <div class="carddiv">
        <div class="about_card"></div>
        <div class="box2">
            <h1>Welcome to Tourist</h1><p>
                         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic eveniet odio 
                         illum ullam et reiciendis minus quae itaque adipisci architecto tenetur
                         animi vel, quaerat optio dolore asperiores similique laboriosam dolor!</p>
            <button style="height:60px; border-radius: 20px; width:150px; background-color: blue;">Read More</button>
        </div>
    </div>
    <center><h1>WELCOME TO <m style="color:blue;">ROYLE CAR</m></h1></center>
    <div class="multiplecardiv">
        <div class="indiv">
            <P>WANT TO BE<BR>
                DRIVER?</P>
                <H3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam
               qui quae perspiciatis repellendus cupiditate ipsam, corrupti quos,
                </H3>
                <br>
                <button style="background-color:blue;color:white; border-radius: 10px;">Start Now</button>
        </div>
    </div>

    <!--Travel Guide-->
    <div class="container-fluid Travel_Guide">
      <div class="row">
        <!--Travel Guide_1-->
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img src="https://automania.co.in/wp-content/uploads/2023/08/79218w-.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Kie Carense</b></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
    
        <!-- Repeat the same structure for the other cards -->
    
        <!--Travel Guide_2-->
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img src="https://automania.co.in/wp-content/uploads/2023/08/79218w-.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Kie Carense</b></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
    <!--Travel Guide_3-->
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="https://automania.co.in/wp-content/uploads/2023/08/79218w-.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>Kie Carense</b></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">More Info</a>
        </div>
      </div>
    </div>
        <!-- Continue with Travel Guide_3, Travel Guide_4, and so on, using the same structure -->
      </div>
    </div>
    
<!--
<div class="card" style="width: 18rem;">
        <img src="https://automania.co.in/wp-content/uploads/2023/08/79218w-.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>Kie Carense</b></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">More Info</a>
        </div>
      </div>
-->
      </body>
</html>
<%-include("footer.ejs")%>

